.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  position: sticky;
  border-bottom: 1px solid var(--border-primary);

  &_logo {
    font-size: 22px;
    font-weight: 600;
  }

  &_container {
    display: flex;
    gap: 32px;
  }
  &_links {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &_link {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.no-border {
  border: none;
}
