.solutions {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 12px;

    .search_container {
      flex: 1;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.solution {
  &_card {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 0px;
    margin-left: 40px;
    border-bottom: 1px solid var(--border-primary);
    transition: all 0.2s;
  }

  &_author {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-secondary);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--text-accent);
    }
  }

  &_title {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    &_container {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h2 {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  &_meta {
    display: flex;
    gap: 8px;
    margin-top: 2px;
  }

  &_content {
    flex: 1;
    overflow-y: auto;
  }

  &_detail {
    height: 100%;
    display: flex;
    flex-direction: column;

    &_header {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 20px;
    }
  }

  &_footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
  }
}

.avatar_container {
  position: absolute;
  top: 8px;
  left: -40px;
}

.code-block {
  margin: 16px 0;
  border-radius: 8px;
  overflow: hidden;
  background: var(--background-secondary);

  .code-header {
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Geist";
    color: var(--text-secondary);
    background: var(--background-tertiary);
    text-transform: capitalize;
  }

  pre {
    margin: 0 !important;
    padding: 16px !important;
    background: var(--background-secondary) !important;
  }
}

.like_dislike_container {
  display: flex;
  gap: 2px;
  border-radius: 8px;
  overflow: hidden;
}

.stat_button {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 8px;
  background-color: var(--background-tertiary);
  border: none;
  color: var(--text-primary);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &.button_liked {
    color: var(--success);
  }

  &.button_disliked {
    color: var(--error);
  }
}
