@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 0%;
  }
}

$color-1: hsl(0, 100%, 63%);
$color-2: hsl(270, 100%, 63%);
$color-3: hsl(210, 100%, 63%);
$color-4: hsl(195, 100%, 63%);
$color-5: hsl(90, 100%, 63%);

.rainbow-button {
  position: relative;
  display: inline-flex;
  gap: 4px;
  height: 2.75rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  border: calc(0.08 * 1rem) solid transparent;
  padding: 0.5rem 2rem;
  font-weight: 500;
  color: rgb(250 250 250);
  background-size: 200%;
  background-clip: padding-box, border-box, border-box;
  background-origin: border-box;
  animation: rainbow 4s linear infinite;
  background-image:
    linear-gradient(#121213, #121213),
    linear-gradient(
      #121213 50%,
      rgba(18, 18, 19, 0.6) 80%,
      rgba(18, 18, 19, 0)
    ),
    linear-gradient(90deg, $color-1, $color-2, $color-3, $color-4, $color-5);
  background-position: 0% 50%;
  transition: none;
  font-size: 15px;

  &:before {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 50%;
    z-index: 0;
    height: 20%;
    width: 60%;
    transform: translateX(-50%);
    animation: rainbow 4s linear infinite;
    background: linear-gradient(
      90deg,
      $color-1,
      $color-2,
      $color-3,
      $color-4,
      $color-5
    );
    background-size: 200%;
    filter: blur(calc(0.8 * 1rem));
    background-position: 0% 50%;
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: 1px;
    outline-color: rgb(0, 0, 0);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (prefers-color-scheme: dark) {
    color: rgb(9 9 11);
    background-image:
      linear-gradient(#fff, #fff),
      linear-gradient(#fff 50%, rgba(255, 255, 255, 0.6) 80%, rgba(0, 0, 0, 0)),
      linear-gradient(90deg, $color-1, $color-2, $color-3, $color-4, $color-5);

    &:focus-visible {
      outline: 1px solid rgb(255, 255, 255);
      outline-offset: 1px;
      outline-color: rgb(255, 255, 255);
    }
  }
}
