.problem {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &_details {
    overflow-y: auto;
  }

  &_title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  &_metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  &_description {
    margin-bottom: 48px;

    h1,
    h2,
    h3,
    h4 {
      font-weight: 600;
      margin: 18px 0 12px;
    }

    p {
      margin-bottom: 12px;
    }
  }

  &_examples {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 48px;

    .example_heading {
      font-weight: 700;
      margin-bottom: 6px;
    }

    .example_fields {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-left: 16px;
      border-left: 3px solid var(--border-primary);
    }
  }

  &_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: self-end;

    .like_dislike_container {
      display: flex;
      gap: 2px;
      border-radius: 8px;
      overflow: hidden;
    }

    .stat_button {
      display: flex;
      gap: 6px;
      align-items: center;
      padding: 6px 8px;
      background-color: var(--background-tertiary);
      color: var(--text-primary);
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    .bookmark_button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      padding: 6px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
