@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --foreground: #171717;
  --color-text-secondary: #737373;
  --color-text-accent: #b02b7f;
}

.dark {
  --background: #181818;
  --foreground: #ededed;
  --color-text-secondary: #c3c3c3;
  --color-text-accent: #e6819c;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }

  .text-accent {
    color: var(--color-text-accent);
  }

  :root {
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .dark {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 15px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d4d4d;
  transition: ease-in-out 2s;
}

br {
  display: block;
}
