.collapsible-trigger {
  position: relative;
  cursor: pointer;
}

.collapsible-icon {
  transition: all 0.3s ease-in-out;
}

.collapsible-content {
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.is-open {
    max-height: 1000px;
    visibility: visible;
  }

  &.is-closed {
    max-height: 0;
    opacity: 0;
  }

  &-inner {
    padding-bottom: 12px;
  }
}
