$background-light: #ffffff;
$foreground-light: #171717;
$background-secondary-light: #f8f8f8;
$background-tertiary-light: #f2f2f2;
$text-secondary-light: #737373;
$text-accent-light: #2ba0b0;
$border-primary-light: #e5e5e5;

$background-dark: #141414;
$foreground-dark: #ededed;
$background-secondary-dark: #0d0d0d;
$background-tertiary-dark: #202020;
$text-secondary-dark: #b3b3b3;
$text-accent-dark: #51c0ef;
$border-primary-dark: #747474;

$radius: 8px;
$radius-lg: $radius;
$radius-md: calc($radius - 2px);
$radius-sm: calc($radius - 4px);

/* Media query theme configuration */

:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
  --background-secondary: #{$background-secondary-light};
  --background-tertiary: #{$background-tertiary-light};
  --text-secondary: #{$text-secondary-light};
  --text-accent: #{$text-accent-light};
  --border-primary: #{$border-primary-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --foreground: #{$foreground-dark};
    --background-secondary: #{$background-secondary-dark};
    --background-tertiary: #{$background-tertiary-dark};
    --text-secondary: #{$text-secondary-dark};
    --text-accent: #{$text-accent-dark};
    --border-primary: #{$border-primary-dark};
  }
}

/* Base styles */

body {
  margin: 0 12px;
  font-family: "Geist";
  font-size: 15px;
  background-color: var(--background);
  color: var(--foreground);
}

.problem-page-body {
  background-color: var(--background-secondary);
}

pre,
code {
  font-size: 14px;
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}

.text-secondary {
  color: var(--text-secondary);
}

.text-accent {
  color: var(--text-accent);
}

br {
  display: block;
}
