$background-light: #f8f8f8;
$foreground-light: #171717;
$background-secondary-light: #ffffff;
$text-secondary-light: #737373;
$text-accent-light: #b02b7f;
$border-color-light: #e5e5e5;

$background-dark: #0d0d0d;
$foreground-dark: #ededed;
$background-secondary-dark: #202020;
$text-secondary-dark: #c3c3c3;
$text-accent-dark: #e6819c;
$border-color-dark: #747474;

$radius: 8px;
$radius-lg: $radius;
$radius-md: calc($radius - 2px);
$radius-sm: calc($radius - 4px);

/* Media query theme configuration */

:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
  --background-secondary: #{$background-secondary-light};
  --color-text-secondary: #{$text-secondary-light};
  --color-text-accent: #{$text-accent-light};
  --border-color: #{$border-color-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --foreground: #{$foreground-dark};
    --background-secondary: #{$background-secondary-dark};
    --color-text-secondary: #{$text-secondary-dark};
    --color-text-accent: #{$text-accent-dark};
    --border-color: #{$border-color-dark};
  }
}

/* Add class-based override for explicit dark mode */

.dark {
  --background: #{$background-dark};
  --foreground: #{$foreground-dark};
  --background-secondary: #{$background-secondary-dark};
  --color-text-secondary: #{$text-secondary-dark};
  --color-text-accent: #{$text-accent-dark};
  --border-color: #{$border-color-dark};
}

/* Base styles */

body {
  margin: 0 12px;
  font-family: "Geist";
  font-size: 15px;
  background-color: var(--background);
  color: var(--foreground);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-accent {
  color: var(--color-text-accent);
}

/* Custom scrollbar styles */

::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 15px;
  border: 3px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: #4d4d4d;
    transition: ease-in-out 2s;
  }
}

br {
  display: block;
}
