.create-problem {
  width: 100%;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px;
    margin: 0px;
  }

  .problem-form {
    display: flex;
    gap: 12px;
  }

  .basic-details {
    padding: 12px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
    border-radius: 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 52px;
    height: calc(100vh - 220px);
    overflow: auto;
  }

  .solutions-editor {
    width: 50%;
    border: 1px solid var(--border-primary);
    border-radius: 12px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--border-primary);

    h2 {
      font-size: 20px;
      font-weight: 600;
      color: var(--foreground);
    }
  }

  .form-section-without-border {
    padding-bottom: 0;
    border-bottom: none;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .form-label {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-secondary);
    }
  }

  .form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .group-subheader {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .form-actions {
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
  }
}
