.create-problem {
  width: 100%;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px;
    margin: 0px;
  }

  .problem-form {
    display: flex;
    gap: 12px;
  }

  .form-actions {
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
  }
}
